.App {
  text-align: center;
  background-color: #454c59;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Input-labels {
  font-size: calc(10px + 1vmin);
  color: #f0f0f0;
}

fieldset {
  border-width: 1px;
  border-color: rgb(143, 142, 142);
  margin: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Result {
  margin-top: 10px;
}

/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type=radio]:hover + img {
  outline: 2px solid #666;
  opacity: 0.5;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
  margin: 5px;
  opacity: 0.5;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 2px solid #fff;
  opacity: 1;
}
